body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	color: white;
}

.active-item {
	background-color: rgba(20, 20, 20, 0.85);
}

.inventory-wrapper {
	width: 920px;
	height: 580px;
	margin-top: calc(50vh - 310px);
	margin-left: calc(50vw - 460px);
}

.inventory-amount {
	position: relative;
	width: 15px;
	height: 15px; 
	bottom: 10px;
	left: -5px;
	line-height: 15px;
	font-size: 10px;
	font-family: 'Arial';
	border-radius: 50%;
	text-align: center;
	background-color: rgba(30, 30, 30, 0.85);
	z-index: 10;
}

.inventory-header {
	height: 45px;
	background-color: rgba(0, 0, 0, 0.95);
}

.inventory-container {
	width: 900px;
	height: 450px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.75);
}

.inventory-item {
	float: left;
	width: 70px;
	height: 70px;
	margin: 10px;
}

.inventory-item img {
    display: block;
	width: 64px;
	height: 64px;
    margin: 3px;
}

.inventory-footer {
	height: 65px;
	background-color: rgba(0, 0, 0, 0.85);
}